body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    margin: 0;
}

.headerr {
    background-color: #2E4E8C;
    padding: 10px;
    margin-bottom: 10px;
    color: aliceblue;
    max-height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Yatayda yayarak yerleştir */
}

.headerr img{
    padding: 10px;
}

.headerr .ana_baslik {
    font-size: large;
    margin: 0;
}
.nav_bar {
    display: flex;
    align-items: center;
    color: aliceblue;
    margin-right: 20px; /* Sağa boşluk ekleyerek sağ üst köşeye yerleştir */
}
.nav_bar h4{
    color: aliceblue;
    padding: 5px;
    background-color:#3d60a5;
    border-radius: 40px;
    margin-right: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.nav_bar h4:hover{
    background-color: #b1c5e8;
}
/* Ek olarak, alt çizgiyi kesin olarak kaldırmak için */
.nav_bar h4, .nav_bar h4:hover {
    text-decoration: none !important;
}


.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 440px; 
    max-width: 100%; /* Ekran boyutuna göre genişliğin %100'ünü aşmaması için */
    margin: auto; /* Yatayda ortalamak için */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select, button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
