
body{
   margin-top: 0px;
   margin-left:0px ;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headerr {
    background-color: #2E4E8C;
    padding: 10px;
    margin-bottom: 10px;
    color: aliceblue;
    max-height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Yatayda yayarak yerleştir */
}

.headerr img{
    padding: 10px;
}

.headerr .ana_baslik {
    font-size: large;
    margin: 0;
}

.nav_bar {
    display: flex;
    align-items: center;
    color: aliceblue;
    margin-right: 20px; 
}

.nav_bar h4{
    color: aliceblue;
    padding: 5px;
    background-color:#3d60a5;
    border-radius: 40px;
    margin-right: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.nav_bar h4:hover{
    background-color: #b1c5e8;
}

/* Header kısmının css bitiş */



/* index.html css */
.külüplerimiz{
    margin-block: 15px;
    margin-left: 10px;
    font-size: 30px;
}

.container {
    max-width: 1920px; 
    width: 100%; 
    position: relative; /* önemli */
    display: flex;  /* önemli */
    justify-content: center; 
    flex-wrap: wrap;    /* önemli */
    gap: 10px;  /* önemli */
}
.container .card {
    flex: 1 0 320px;    /* önemli */
    max-width: 320px;
    margin-bottom: 20px;
    border: 1px solid #ece3e3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}
.sosyal{
    margin-top: 5px;
}
/* İndex.html css */




/* login.html css */
.container_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.card_login {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.username,.passw {
    margin-bottom: 20px;
}

.username input,.passw input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login_button,.register_button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2E4E8C;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b1c5e8;
}
/* login.html css */



/* register.html css */
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 440px; 
    max-width: 100%; /* Ekran boyutuna göre genişliğin %100'ünü aşmaması için */
    margin: auto; /* Yatayda ortalamak için */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-container h2{
    text-align: center;
}

.form-container label {
    margin-top: 10px;
}

.form-container input, select, button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-container button {
    background-color: #2E4E8C;
    color: white;
    border: none;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #b1c5e8;
}
/* register.html css */





/* takvim.html css */
.calendar {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.prev, .next {
    cursor: pointer;
}

.month-name {
    font-size: 20px;
}

.weekdays {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}

.weekdays li {
    width: calc(100% / 7);
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.days li {
    list-style-type: none;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.days li.today {
    background-color: #f2f2f2;
}

.days li.event {
    background-color: #2E4E8C;
    color: white;
    font-weight: bold;
}
/* takvim.html css */