body {
    margin-top: 0px;
    margin-left:0px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}

.headerr {
    background-color: #2E4E8C;
    padding: 10px;
    margin-bottom: 10px;
    color: aliceblue;
    max-height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Yatayda yayarak yerleştir */
}
.headerr img{
    padding: 10px;
}

.headerr .ana_baslik {
    font-size: large;
    margin: 0;
}

h5{
    margin-block: 15px;
    margin-left: 10px;
    font-size: 30px;
}

.nav_bar {
    display: flex;
    align-items: center;
    color: aliceblue;
    margin-right: 20px; /* Sağa boşluk ekleyerek sağ üst köşeye yerleştir */
}

.nav_bar h4{
    color: aliceblue;
    padding: 5px;
    background-color:#3d60a5;
    border-radius: 40px;
    margin-right: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.nav_bar h4:hover{
    background-color: #b1c5e8;
}
/* Ek olarak, alt çizgiyi kesin olarak kaldırmak için */
.nav_bar h4, .nav_bar h4:hover {
    text-decoration: none !important;
}







.calendar {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.prev, .next {
    cursor: pointer;
}

.month-name {
    font-size: 20px;
}

.weekdays {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}

.weekdays li {
    width: calc(100% / 7);
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.days li {
    list-style-type: none;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.days li.today {
    background-color: #f2f2f2;
}

.days li.event {
    background-color: #2E4E8C;
    color: white;
    font-weight: bold;
}
